In [14]:
import pandas as pd
import os
from scipy import stats
import numpy as np
%matplotlib inline
import seaborn as sb
import matplotlib.pyplot as plt
import dask.dataframe as dd
from datetime import datetime

In [2]:
raw = '../data/raw/'
train = pd.read_csv(raw + 'train_subset.csv')
items = pd.read_csv(raw + 'items.csv')
holidays = pd.read_csv(raw + 'holidays_events.csv')
oil = pd.read_csv(raw + 'oil.csv')

#train, items, and oil can be merged straightforwardly, for holidays we need to worry about

#oops, forgot stores and transactions, that's what I get for not working on this for a bit, brb

In [3]:
train.head()

      id        date  store_nbr  item_nbr  unit_sales onpromotion
0   7708  2013-01-02          7    724003        14.0         NaN
1  25233  2013-01-02         33    329397         1.0         NaN
2  28906  2013-01-02         38    848765         7.0         NaN
3  31692  2013-01-02         43    114799         8.0         NaN
4  34840  2013-01-02         46    155600        13.0         NaN

In [4]:
items.head()

   item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1

In [11]:
holidays.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [12]:
oil.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20