In [1]:
import pandas as pd
import os
from scipy import stats
import numpy as np
%matplotlib inline
import seaborn as sb
import matplotlib.pyplot as plt
import dask.dataframe as dd
from datetime import datetime
import random
import sys

In [2]:
raw = '../data/raw/'

In [3]:
test = dd.read_csv('../data/test_concatted.csv', blocksize=32000000)
items = dd.read_csv(raw + 'items.csv')
holidays = dd.read_csv(raw + 'holidays_events.csv')
oil = dd.read_csv(raw + 'oil.csv')
stores = dd.read_csv(raw + 'stores.csv')

In [4]:
d = test.merge(items)
d = d.merge(oil)
d = d.merge(stores)
#d = d.merge(transactions)

In [5]:
d.head()

,Unnamed: 0,id,store_nbr,onpromotion,family,transactions,item_nbr,class,perishable,date,dcoilwtico,city,state,type,cluster
0,0,125497040,1,False,GROCERY I,1523.844272,96995,1093,0,2013-01-01,NaN,Quito,Pichincha,D,13
1,0,125497040,1,False,GROCERY I,1523.844272,99197,1067,0,2013-01-02,93.14,Quito,Pichincha,D,13
2,0,125497040,1,False,GROCERY I,1523.844272,103520,1028,0,2013-01-03,92.97,Quito,Pichincha,D,13
3,0,125497040,1,False,GROCERY I,1523.844272,105574,1045,0,2013-01-04,93.12,Quito,Pichincha,D,13
4,0,125497040,1,False,GROCERY I,1523.844272,105575,1045,0,2013-01-07,93.20,Quito,Pichincha,D,13

In [ ]:
d.to_csv('../data/merged_but_no_holidays.csv')